.card {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 20%;
    min-width: 200px;

    padding: 10px;

    border-radius: 5px;

    background-color: hsl(0, 0%, 100%);
}

.title {
    font-weight: 700;
}

.description {
    margin-bottom: 20px;

    font-weight: 400;
}
